<ul class="paginator-container">
  <li (click)="navigateToPage(index - 1)"><<</li>
  @if (index >= 3 && pagination.maxPages != 3) {
  <li class="dots">...</li>
  } @for(page of pagination.pages; track trackByFn) {
  <li
    class="paginator-number"
    [class.active]="page === pagination.index"
    (click)="navigateToPage(page)"
  >
    {{ page }}
  </li>
  } @if (index <= pagination.maxPages - 2 && pagination.maxPages != 3) {
  <li class="dots">...</li>
  }
  <li (click)="navigateToPage(index + 1)">>></li>
</ul>
